<h1>LONG to SHORT URL Converter </h1>
<p>Here is your short URL </p>

<form action="/urls" method="post">
 Enter URL: 
 <input type ="text" name="long_url">
 <input type="submit" value="Submit">
 </form>